body {
background-color: #a8ffb4;
text-align: center;
}
h1{
  font-family: "Kranky", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7rem;
  color:#009c15;
  margin-bottom:45px;
}
p{
    font-family: "Unkempt", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:2rem;
  color: #004d0a;
  margin-top:0;
}
p1{
  font-family: "Unkempt", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:2rem;
  color: #009c15;
  margin-top:0;
}
img{
    max-width:100%;
    height:auto;
    display:block;
}
.container {
  max-width: 2200px;
  max-height: 5200px;    
  width: 90%;          
  margin: 0 auto;       
  padding: 0 20px;
  outline: 25px double white;      
}
.delayed-text {
    /* Start hidden */
    opacity: 0; 
            
    /* Name of animation, duration (1s), delay before starting (3s) */
    animation: fadeIn 1s forwards;
    animation-delay: 3s; 
}

/* Define the animation effect */
@keyframes fadeIn {
    to {
    opacity: 1;
    }
}
.delayed-text2 {
    opacity:0;
    animation:fadeIn 1s forwards;
    animation-delay:5s;
}
.delayed-text3{
    opacity:0;
    animation:fadeIn 1s forwards;
    animation-delay:7s;
}
.delayed-text4{
    opacity:0;
    animation:fadeIn 1s forwards;
    animation-delay:9s;
}
.delayed-text5{
    opacity:0;
    animation:fadeIn 1s forwards;
    animation-delay:11s;
}
.delayed-image{
    opacity:0;
    animation:fadeIn 1s forwards;
    animation-delay:5s;
}
.delayed-image2{
    opacity:0;
    animation:fadeIn 1s forwards;
    animation-delay:11s;
}
