body {
background-color: #a8ffb4;
text-align: center;
}
h1{
  font-family: "Kranky", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7rem;
  color:#009c15;
  margin-bottom:45px;
}
p{
  font-family: "Unkempt", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:2rem;
  color: #004d0a;
  margin-top:0;
  margin-bottom:0;
}
p1{
    font-family: "Unkempt", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:2rem;
  color: #009c15;
  margin-top:0;
}
p2{
  font-family: "Kranky", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color:#32a852;
  margin-bottom:45px;  
}
.container {
  max-width: 2200px;
  max-height: 2200px;    
  width: 90%;          
  margin: 0 auto;       
  padding: 0 20px;
  outline: 25px double white;      
}